@page "/About"
@using System.Web
@using DatenMeister.WebServer
@using DatenMeister.WebServer.Pages
@model DatenMeister.WebServer.Pages.AboutModel


@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "About - Der DatenMeister";
}

<h1>About</h1>

<h2>DatenMeister.Net</h2>
Welcome to the About-Page

<table class="table table-striped">
    <tbody>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </tbody>
    <tr>
        <td>Git Commit-Id</td>
        <td>
            <a href="https://github.com/mbrenn/datenmeister-new/commit/@Commit.Id">@Commit.Id</a>
        </td>
    </tr>
    <tr>
        <td>Workspace-Folder</td>
        <td>
            <a href="#" onclick="setWorkspaceToClipboard(); return false;">@Model.WorkspacePath</a>
        </td>
    </tr>
    <tr>
        <td>Known ExtentTypes</td>
        <td>
            <ul>
                @foreach (var knownExtentType in AboutModel.KnownExtentTypes)
                {
                    <li>@knownExtentType</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Loaded Plugins</td>
        <td>
            <ul>
                @foreach (var knownExtentType in AboutModel.LoadedPlugins)
                {
                    <li>@knownExtentType</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Registered ActionHandlers</td>
        <td>
            <ul>
                @foreach (var actionHandler in AboutModel.ActionHandlers)
                {
                    <li>@actionHandler</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Registered Form-Modification-Plugins</td>
        <td>
            <ul>
                @foreach (var formModificationTypes in AboutModel.FormModificationTypes)
                {
                    <li>@formModificationTypes</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Type Index Logic</td>
        <td>
            <div>Dependencies of Workspaces:</div>
            <ul>
                @foreach (var dependency in AboutModel.WorkspaceDependencies)
                {
                    <li>@dependency</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>ExtentUrlNavigator</td>
        <td>
            <p>Cache Hits: @AboutModel.CacheHits</p>
            <p>Cache Misses: @AboutModel.CacheMisses</p>
        </td>
    </tr>
    
</table>

<script type="text/ecmascript">
    function setWorkspaceToClipboard()
    {
        navigator.clipboard.writeText("@HttpUtility.JavaScriptStringEncode(Model.WorkspacePath)");
        alert('Path copied');
    }
</script>