@page "/Item/{workspace}/{extent}/{item?}"
@namespace DatenMeister.WebServer.Pages
@using System.Web
@using DatenMeister.Html
@model ItemModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Item";
}

<h1>Item</h1>

<div class="dm-breadcrump">
    @{ var w = Model.ItemAndFormModel?.workspace ?? "No Workspace"; }
    @{ var e = Model.ItemAndFormModel?.extentUri ?? "No Extent"; }
    @{ var i = Model.Item ?? "No Item"; }
    <a href="/Item/Management/dm%3A%2F%2F%2F_internal%2Fworkspaces/@(HttpUtility.UrlEncode(w))">@w</a> &lt;
    <a href="/ItemsOverview/@(HttpUtility.UrlEncode(w))/@(HttpUtility.UrlEncode(e))">@e</a> &lt;
    @(Model.ItemAndFormModel?.fullName ?? "Unknown Element")
</div>

<div><a class="btn btn-primary" click="EditItem()">Edit Item</a></div>

@foreach (var table in Model.Tables)
{
    @Html.Raw(table.ToString())
}

<script type="application/javascript">
    
    function CreateViewForm()
    {
        requirejs(['DatenMeister/Forms'], function(Form) {
            var detailForm = new Form.DetailForm();
            detailForm.createViewForm(
                $("#form_view"),
                "@HttpUtility.JavaScriptStringEncode(w)",
                "@HttpUtility.JavaScriptStringEncode(Model.ItemUrl)");
        });
    }

$(function()
{
    requirejs(['datenmeister'], function(DatenMeister) {

        @Html.Raw(Model.ScriptLines);
    });
    
    CreateViewForm();
});

</script>
<div id="form_view">View Form</div>
<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#forminformation" role="button">Form Information</a>
    <div class="collapse" id="forminformation">
        <div class="card card-body">
            @(Html.Raw(new ObjectToSimpleHtmlListConverter().ConvertToHtmlList(Model.Form)))
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#objectinformation" role="button">Object Information</a>
    <div class="collapse" id="objectinformation">
        <div class="card card-body">
            @(Html.Raw(new ObjectToSimpleHtmlListConverter().ConvertToHtmlList(Model.FoundItem)))
        </div>
    </div>
</div>