@page "/Item/{workspace}/{extent}/{item?}"
@namespace DatenMeister.WebServer.Pages
@using System.Web
@using DatenMeister.Html
@model ItemModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Item";
}

<h1>Item</h1>

<div class="dm-breadcrumb">
    @{ var w = Model.Workspace ?? "No Workspace"; }
    @{ var e = Model.Extent ?? "No Extent"; }
    @{ var i = Model.Item ?? "No Item"; }
    <a href="/Item/Management/dm%3A%2F%2F%2F_internal%2Fworkspaces/@(HttpUtility.UrlEncode(w))">@w</a> &lt;
    <a href="/ItemsOverview/@(HttpUtility.UrlEncode(w))/@(HttpUtility.UrlEncode(e))">@e</a> &lt;
    @(Model.ItemAndFormModel?.fullName ?? "Unknown Element")
</div>

<div><a class="btn btn-primary" onclick="EditItem()">Edit Item</a></div>

<script type="application/javascript">

    function CreateViewForm()
    {
        requirejs(['DatenMeister/Forms'], function(Form) {
            var detailForm = new Form.DetailFormCreator();
            detailForm.createViewForm(
                $("#form_view"),
                "@HttpUtility.JavaScriptStringEncode(w)",
                "@HttpUtility.JavaScriptStringEncode(e)",
                "@HttpUtility.JavaScriptStringEncode(Model.ItemUrl)");
        });
    }

$(function()
{
    requirejs(['datenmeister'], function(DatenMeister) {

        @Html.Raw(Model.ScriptLines);
    });

    CreateViewForm();
});

    function EditItem()
    {
        requirejs(['DatenMeister/Forms.DetailForm'], function(Form) {
            var detailForm = new Form.FormCreator();
            detailForm.createEditForm(
                $("#form_view"),
                "@HttpUtility.JavaScriptStringEncode(w)",
                "@HttpUtility.JavaScriptStringEncode(Model.ItemUrl)");
        });
    }

</script>
<div id="form_view">View Form</div>