@page "/ItemsOverview/{workspace}/{extent}/{item?}"
@namespace DatenMeister.WebServer.Pages
@using System.Net
@using DatenMeister.Core.Helper
@using DatenMeister.Core.Models
@model ItemsOverviewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Der DatenMeister - Items Overview";
}

<h3>Items Overview</h3>
<p>Workspace: @Model.Workspace</p>
<p>Extent: @Model.Extent</p>

<div>
    <table>
        <tr>
            <th>
                View
            </th>
            @foreach (var field in Model.Fields)
            {
                <th>
                    @(field.getOrDefault<string>(_DatenMeister._Forms._FieldData.title))
                </th>
            }
        </tr>
        @foreach (var item in Model.HtmlCells)
        {
            <tr>
                <td>
                    <a href="/ItemsOverview/@Html.Raw(WebUtility.UrlEncode(Model.Workspace))/@Html.Raw(WebUtility.UrlEncode(Model.Extent))/@Html.Raw(WebUtility.UrlEncode(@item.Id))">View</a>
                </td>
                @foreach (var field in Model.Fields)
                {
                    <td>@Html.Raw(item.Cell[field.getOrDefault<string>(_DatenMeister._Forms._FieldData.name)].HtmlRaw)
                    </td>
                }
            </tr>
        }
    </table>
</div>